{
	"trailingComma": "none",
	"semi": false,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"singleAttributePerLine": true
}
